
@font-face {
    font-family: "TechnoRace";
    src: url(./styles/TechnoRace-Italic.woff2) format(woff2),
         url(./styles/TechnoRace-Italic.woff) format(woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'TechnoRace';
}

body {
    background-color: #F0F9FF;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.8fr 5fr;
    color: #002D72;
}

.header {
    background-color: #d3edff;
    display: grid;
    justify-content: center;
    align-content: end;
}

h1 {
    font-size: 5rem;
}

.main-content {
    display: grid;
    align-content: center;
    justify-self: center;

}

.footer {
    background-color: #1E3A8A;
}

.footer h2 {
    padding: 0.6rem;
    text-align: center;
    color: #ffffff;
}

h2::before {
    content: url('./images/sword-svgrepo-com.svg');
}

h2::after {
    content: url('./images/sword-svgrepo-com.svg');
}

h3{
    background-color: #1E3A8A;
    color: #FCD34D;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
}

.game-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.2fr;
    justify-content: center;
    gap: 1rem;
}

.gameboard {
    background-color: #D4EBFF;
    width: 30rem;
    height: 30rem;
    outline: 2px solid #4DA6FF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gameboard>div{
    outline:1px solid #88B8F0;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 25px;
}

.hidden{
    opacity: 0;
}

.game {
    display: grid;
    justify-content: start;
    align-content: center;
    justify-items: center;
    gap: 1rem
}

.game h3 {
    font-size: 25px;
}

.players-info {
    padding: 20px;
    display: grid;
    align-self: center;
    justify-self: end;
    grid-template-rows: 5fr 3fr;
    gap: 2rem;
    align-items: start;
}

.players-info form {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 1rem;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.players-info form p {
    display: grid;
    gap: 0.2rem;
}

.players-info form input{
    font-size: 20px;
    padding: 0.3rem;
    border: 1px solid rgb(100, 145, 204);
    border-radius: 5px;
}

button {
    background-color: #00BFFF;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: 1px solid #9e9fee;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
}

button:disabled{
    opacity: 0.5;
    background-color: #2dc7fa;
    cursor: not-allowed;
}

.score {
    display: grid;
    gap: 1.5rem;
    justify-content: start;
    display: grid;
    font-size: 18px;
}

.score h4 {
    background-color: #3B82F6;
    color: #f7f7f7;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.cell:hover{
    background-color: #88B8F0;
    scale: 1.05;
    outline: 2px solid #E6F2FF;
    color: #F0F9FF
}

.cell:active{
    background-color: #9AC8FF;
    color: #ff3c3c;
    outline: 1px solid #3a8eee;
}